.profileCard {
  padding-top: 30px;
  border: 1px solid rgb(206, 197, 197);
  border-radius: 2px;
}
.description {
  text-align: center;
}

.avatar {
  border-radius: 50%;
  width: 150px;
  margin-bottom: 10px;
  border: 1px solid rgb(206, 197, 197);
}

.name {
  margin: 0;
  font-size: 28px;
  font-weight: 500;
  margin-bottom: 20px;
}

.tag {
  margin: 0;
  margin-bottom: 10px;
  font-size: 16px;
  font-weight: 500;
  color: rgb(101, 103, 104);
}

.location {
  margin: 0;
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: 500;
  color: rgb(101, 103, 104);
}

.stats {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
}

.statsItem {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 124px;
  height: 124px;
  background-color: rgb(212, 226, 243);
  border: 1px solid rgb(206, 197, 197);
}

.label {
  font-size: 16px;
  font-weight: 500;
  color: rgb(101, 103, 104);
}

.quantity {
  font-size: 16px;
  font-weight: 500;
}
