.app {
  font-family: 'Roboto', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding-top: 10px;
  gap: 10px;
  font-size: 10px;
  color: #010101;
}

.wrapper {
  display: flex;
  align-items: flex-start;
  gap: 20px;
  margin-bottom: 40px;
}
